<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mapperInterfaces.BuyerMapper">

   <select id="getMaxProgrOrdine" resultType="int">
   	  SELECT coalesce(max(progressivo), 0)
	  FROM ecommerce.ordini
   </select>	
  
   <insert id="insertOrdine" parameterType="dto.OrdineDTO">
      INSERT INTO ecommerce.ordini
      	(idProdotto, cfAcquirente, offerta, quantita, progressivo, flagAccettazione, noteAcquirente, dataOrdine)
      	VALUES (#{idProdotto, jdbcType=INTEGER}, #{cfAcquirente, jdbcType=VARCHAR}, #{offerta, jdbcType=INTEGER}, #{quantita, jdbcType=INTEGER},
      	#{progressivo, jdbcType=INTEGER}, 0, #{noteAcquirente, jdbcType=VARCHAR}, SYSDATE())
   </insert>
    	
</mapper>