<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mapperInterfaces.BuyerMapper">

   <select id="getMaxProgrOrdine" resultType="int">
   	  SELECT coalesce(max(progressivo), 0)
	  FROM ecommerce.ordini
   </select>	
  
   <insert id="insertOrdine" parameterType="dto.OrdineDTO">
      INSERT INTO ecommerce.ordini
      	(idProdotto, cfAcquirente, offerta, quantita, progressivo, flagAccettazione, noteAcquirente, dataOrdine)
      	VALUES (#{idProdotto, jdbcType=INTEGER}, #{cfAcquirente, jdbcType=VARCHAR}, #{offerta, jdbcType=INTEGER}, #{quantita, jdbcType=INTEGER},
      	#{progressivo, jdbcType=INTEGER}, 0, #{noteAcquirente, jdbcType=VARCHAR}, SYSDATE())
   </insert>
   
   <select id="getOrdiniBy" parameterType="dto.OrdineDTO" resultType="dto.OrdineDTO">
   	  SELECT idProdotto as "idProdotto",
   	  (SELECT DISTINCT cfVenditore FROM ecommerce.prodotti WHERE prodotti.id = ordini.idProdotto) as "cfVenditore",
   	  cfAcquirente as "cfAcquirente", quantita as "quantita", progressivo as "progressivo", flagAccettazione as "flagAccettazione",
   	    noteAcquirente as "noteAcquirente", dataOrdine as "dataOrdine", offerta as "offerta"
	  FROM ecommerce.ordini
	   <trim prefix="WHERE" prefixOverrides="AND|OR">
		  <if test="cfAcquirente != null and !cfAcquirente.isEmpty()">
		  	 AND cfAcquirente = #{cfAcquirente, jdbcType=VARCHAR}
		  </if>
		  <if test="idProdotto != null and idProdotto != 0">
		  	 AND idProdotto = #{idProdotto, jdbcType=INTEGER}
		  </if>
		  <if test="progressivo != null and progressivo != 0">
		  	 AND progressivo = #{progressivo, jdbcType=INTEGER}
		  </if>
	  </trim>
   </select>
    	
</mapper>