<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mapperInterfaces.CommonMapper">	
   
   <select id="getCategorie" resultType="dto.CategoriaDTO">
      SELECT codice as "codice", descrizione as "descrizione"
	  FROM ecommerce.categorie
   </select>
   
   <select id="getProdottiAttivi" parameterType="dto.ProdottoDTO" resultType="dto.ProdottoDTO">
      SELECT
      id as "id", codiceCategoria as "codiceCategoria",
      (SELECT descrizione FROM ecommerce.categorie WHERE ecommerce.categorie.codice = ecommerce.prodotti.codiceCategoria) as "descCategoria",
      titolo as "titolo", descrizione as "descrizione", cfVenditore as "cfVenditore",
      (SELECT CONCAT(nome, ' ', cognome) FROM ecommerce.utenti WHERE ecommerce.utenti.codiceFiscale = ecommerce.prodotti.cfVenditore) as "venditoreDenom",
      disponibilita as "disponibilita",
      prezzoBase as "prezzoBase", infoAcquirenti as "infoAcquirenti", dataInserimento as "dataInserimento"
	  FROM ecommerce.prodotti 
	  <trim prefix="WHERE" prefixOverrides="AND|OR">
		  flagAttivazione = 1
		  <if test="id != null and id != 0">
		  	 AND id = #{id, jdbcType=INTEGER}
		  </if>
		  <if test="codiceCategoria != null and codiceCategoria != 0">
		  	 AND codiceCategoria = #{codiceCategoria, jdbcType=INTEGER}
		  </if>
		  <if test="titolo != null and !titolo.isEmpty()">
		  	 AND titolo = #{titolo, jdbcType=VARCHAR}
		  </if>
		  <if test="cfVenditore != null and !cfVenditore.isEmpty()">
		  	 AND cfVenditore = #{cfVenditore, jdbcType=VARCHAR}
		  </if>
		  <if test="prezzoBase != null and prezzoBase != 0">
		  	 AND prezzoBase = #{prezzoBase, jdbcType=INTEGER}
		  </if>
		  <choose>
			  <when test="dataDa != null and dataA != null">
			  	 AND dataInserimento BETWEEN #{dataDa, jdbcType=DATE} AND #{dataA, jdbcType=DATE}
			  </when>
			  <when test="dataDa != null and dataA == null">
			  	 AND dataInserimento BETWEEN #{dataDa, jdbcType=DATE} AND SYSDATE()
			  </when>
			  <when test="dataDa == null and dataA != null">
			  	 AND dataInserimento &lt;= #{dataA, jdbcType=DATE}
			  </when>
		  </choose>
	  </trim>
   </select>
   
   <update id="modificaPassword" parameterType="dto.UtenteDTO">
   		UPDATE ecommerce.utenti
		SET password = #{password, jdbcType=VARCHAR}
		WHERE codiceFiscale = #{codiceFiscale, jdbcType=VARCHAR}
   </update>
   
   <update id="modificaProfilo" parameterType="dto.UtenteDTO">
   		UPDATE ecommerce.utenti
		SET
			codiceFiscale = #{codiceFiscale, jdbcType=VARCHAR}, nome = #{nome, jdbcType=VARCHAR}, cognome = #{cognome, jdbcType=VARCHAR},
			domicilio = #{domicilio, jdbcType=VARCHAR}, email = #{email, jdbcType=VARCHAR}, telefono = #{telefono, jdbcType=VARCHAR},
			dataNascita = #{dataNascita, jdbcType=DATE}, sesso = #{sesso, jdbcType=VARCHAR}
		WHERE codiceFiscale = #{codiceFiscale, jdbcType=VARCHAR}
   </update>
    	
</mapper>