<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mapperInterfaces.LoginMapper">	
  
   <select id="getUtente" parameterType="dto.UtenteDTO" resultType="dto.UtenteDTO">
      SELECT
      	codiceFiscale as "codiceFiscale",
      	password as "password",
      	nome as "nome",
      	cognome as "cognome",
      	domicilio as "domicilio",
      	email as "email",
      	telefono as "telefono",
      	dataNascita as "dataNascita",
      	sesso as "sesso"
	  FROM ecommerce.utenti
	  WHERE codiceFiscale = #{codiceFiscale, jdbcType=VARCHAR} AND password = #{password, jdbcType=VARCHAR}
   </select>
    	
</mapper>