<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mapperInterfaces.SignupMapper">	
  
   <insert id="insertUtente" parameterType="dto.UtenteDTO">
      INSERT INTO ecommerce.utenti
      	(codiceFiscale, password, nome, cognome, domicilio, email, telefono, dataNascita)
      	VALUES (#{codiceFiscale, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{nome, jdbcType=VARCHAR},
      	#{cognome, jdbcType=VARCHAR}, #{domicilio, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR},
      	#{telefono, jdbcType=VARCHAR}, #{dataNascita, jdbcType=DATE})
   </insert>
    	
</mapper>